* {
  box-sizing: border-box;
}
body {
  background: #f1f1f1;
  font-family: Calibri;
}
.Container {
  max-width: 100%;
  margin: auto;
  width: 70%;
}
.shapka {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-link {
  color: black;
  text-decoration: none;
}
.menu {

  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu-item {
  margin-right: 20px;
  list-style-type: none;
  flex-grow: 1;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu ul {
  padding-left: 0;
  display: flex;
}
.m-menu {
  display: none;
}
.button {
  background: #ff9f19;
  border: #ff9f19;
  border-radius: 10px;
  width: 170px;
  height: 41px;
  color: #fff;
}
.ten {
  width: 100vw;
  padding: 0 10px;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 0;
  margin-top: 0;
}
.My-Giro {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 0;
}
h1 {
  position: relative;
  margin-top: 0;
  left: 0;
  padding-top: 20%;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 48px;
  text-align: center;
  color: #fff;
}
.text {
  position: relative;
  margin-top: 0;
  left: 0;
  padding-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 26px;
  text-align: center;
  color: #fff;
}

.text-catalog {
  position: relative;
  margin-top: 0;
  left: 0;
  padding-top: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  color: black;
  font-weight: bold;
}
.image {
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
  height: 30vw;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -1;
  margin-bottom: 30px;
}
.button-catalog {
  width: 124px;
  height: 40px;
  border-radius: 10px;
  border: #fff;
}
.text-catalog.button-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30%;
  margin-bottom: 20px;
}

h2 {
  margin-top: 30px;
  color: #9b9b9b;
  margin-bottom: 30px;
}
.preim {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.preim-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.preim-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.preim-item img {
  margin-bottom: 10px;
}

.header svg {
  margin-left: 600px;
  max-width: 70%;
  height: auto;
}
.header svg:last-child {
  margin-left: 10px;
}
.plus-minus-list {
  list-style-type: none;
  padding-left: 0;
}
.plus-minus-list li {
  position: relative;
  padding-left: 20px;
}
.plus-minus-list li:before {
  content: "+";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.plus-minus-list li.minus:before {
  content: "-";
}
.osob {
  display: flex;
  justify-content: space-between;
}
.block-podpis-parent {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.block-podpis {
  width: 100%;
  height: auto;
  display: block;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
}

.svg-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.button-container {
  display: flex;
  gap: 20px;
}
.subscribe-button, .subscribe-button-white {
  width: 194px;
  height: 44px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-button {
  background-color: #ffa019;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribe-button:hover {
  background-color: #ff8a00;
}
.subscribe-button-white {
  background-color: white;
  color: black;
  border: 2px solid #ffa019;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.subscribe-button-white:hover {
  background-color: #f0f0f0;
}
.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-catalog {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list-catalog-item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  position: relative;
}

.list-catalog-item:last-child {
  margin-right: 0;
}
.item-content {
  position: relative;
}
.svg-container svg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  height: 23%;
  width: 23%;
  transition: transform 0.6s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.svg-container svg:last-child {
  margin-right: 0;
}

.svg-container svg:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.svg-container-svg {
  margin: 10px;
}

.catalog-ssylki {
  text-decoration: none;
  color: black;
}
.catalog-ssylki:hover {
  color: #323a42;
}
.spisok-catalog {
  cursor: pointer;
}
.rabota {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.rabota-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex: 1 1 30%;
  box-sizing: border-box;
}

.rabota-info {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 3%;
}

.name {
  font-size: 22px;
  color: black;
  margin: 0;
}

.rabota-img {
  height: 100%;
  max-width: 200px;
  margin-right: 10px;
}

.vizov-button {
  width: 150px;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ff9f19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.vizov-button:hover {
  background-color: #ff9f19;
}
.position {
  font-style: italic;
  font-size: 18px;
}
.is-open {
  display: block !important;
}
.full-width-text {
  background-color: #ececec;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
  padding: 0 150px;
  margin-left: calc(-50vw + 50%);
  margin-bottom: 20px;
  margin-top: 20px;
}
.full-width-text a {
  color: #9b9b9b;
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.full-width-text a:last-child {
  cursor: pointer;
}
.full-width-text a:hover {
  color: #323a42;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-catalog {
  display: none;
}
.image-container div img {
  width: 100%;
  filter: brightness(0.6);
  transition: transform 0.6s ease, filter 0.6s ease;
  cursor: pointer;
}
.image-container div img:hover {
  transform: scale(1.1);
  filter: brightness(0.7);
}
.image-with-text {
  position: relative;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;

}
.informatia-img {
  width: 50px;
  width: 50px;
}
.content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 20px;
}

.text-section {
  max-width: 50%;
  color: #8191a6;
  font-size: 13px;
}

.link-section {
  display: flex;
  align-items: flex-start;
}

.section {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.section:last-child {
  margin-right: 0;
}
.section h4 {
  margin-bottom: 10px;
  font-size: 14px;
}
.link {
  display: inline-block;
  color: #8191a6;
  text-decoration: none;
  margin-bottom: 5px;
  transition: color 0.3s ease;
}
.link:last-child {
  margin-right: 0;
}
.link:hover {
  color: #323a42;
}
@media (max-width: 2000px) {
  .image {
    height: 80%;
  }
}
@media (max-width: 1800px) {
  .image {
    height: 75%;
  }
}
@media (max-width: 1600px) {
  .image {
    height: 70%;
  }
  .image-container {
    gap: 10px;
  }
  .inform-img {
    display: flex;
    height: 220px;
    width: 220px;
  }
}
@media (max-width: 1400px) {
  .image {
    height: 60%;
  }
  .header svg {
    margin-left: 500px;
  }
  .full-width-text a {
    font-size: 24px;
  }
  .text-overlay {
    font-size: 16px;
  }
  .image-container {
    gap: 10px;
  }
  .inform-img {
    display: flex;
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 1200px) {
  .image {
    height: 50%;
  }
  .m-menu {
    background-color: #ff9f19;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  .menu-item1 {
    display: none;
    position: absolute;
    top: 115px;
    right: 130px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ff9f19;
    z-index: 9;
    border-radius: 14px;
  }
  .menu-item {
    margin-bottom: 10px;
    text-align: right;
    width: 100%;
  }
  .menu-item:last-child {
    margin-bottom: 0;
  }
  .header svg {
    margin-left: 220px;
  }
  .preim {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 10px;
  }
  .preim {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 14px;
  }
  .text-overlay {
    font-size: 10px;
  }
  .image-container {
    gap: 10px;
  }
  .inform-img {
    display: flex;
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 1000px) {
  .image {
    height: 43%;
  }
  .header svg {
    margin-left: 180px;
  }
  .preim {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 11px;
  }
  .osob {
    display: block;
  }
  .menu-item1 {
    right: 140px;
    top: 110px;
    width: 140px;
    height: 220px;
    font-size: 15px;
  }
  .c-catalog {
    background-color: #ff9f19;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
  .spisok-catalog {
    position: absolute;
    top: 115px;
    right: 130px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ff9f19;
    z-index: 9;
    border-radius: 10px;
    display: none;
  }
  .text-overlay {
    font-size: 16px;
  }
  .image-container {
    gap: 10px;
  }
  .inform-img {
    display: flex;
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 800px) {
  .image {
    height: 35%;
  }
  .text {
    font-size: 22px;
  }
  h1 {
    font-size: 28px;
  }

  .shapka-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .button {
    width: 140px;
    height: 30px;
  }
  .header svg {
    margin-left: 120px;
  }
  .preim {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 16px;
  }
  .osob {
    display: block;
  }
  .menu-item1 {
    right: 100px;
    top: 120px;
    width: 120px;
    height: 200px;
    font-size: 12px;
  }
  .full-width-text a {
    font-size: 18px;
  }
  .image-container {
    gap: 10px;
  }
  .text-overlay {
    font-size: 14px;
  }
  .inform-img {
    display: flex;
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .image {
    height: 30%;
  }
  .button-catalog {
    width: 100px;
    height: 40px;
  }
  .text-catalog {
    font-size: 12px;
  }

  .shapka-text {
    font-size: 18px;
  }
  .header svg {
    margin-left: 60px;
  }
  .preim {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 12px;
  }
  .osob {
    display: block;
  }
  .menu-item1 {
    right: 80px;
    top: 100px;
    width: 100px;
    height: 180px;
    font-size: 10px;
  }
  .m-menu {
    width: 30px;
    height: 30px;
  }
  .shapka-text {
    font-size: 12px;
  }
  .full-width-text a {
    font-size: 14px;
  }
  .image-container {
    gap: 10px;
  }
  .text-overlay {
    font-size: 10px;
  }
  .inform-img {
    display: flex;
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .image {
    height: 25%;
  }
  .text {
    font-size: 12px;
  }
  h1 {
    font-size: 18px;
  }
  .shapka-text {
    font-size: 12px;
  }
  .button {
    width: 80px;
    height: 30px;
  }
  .header svg {
    margin-left: 10px;
  }
  .preim {
    width: 75px;
    height: 75px;
    margin-right: 20px;
  }
  .preim-text {
    font-size: 14px;
  }
  .onas-text {
    font-size: 14px;
  }
  .osob {
    display: block;
    font-size: 14px;
  }
  .osob-text {
    font-size: 14px;
  }
  .full-width-text a {
    font-size: 12px;
  }
  .image-container {
    gap: 10px;
  }
  .inform-img {
    display: flex;
    height: 150px;
    width: 150px;
  }
  .text-overlay {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .image {
    height: 40%;
  }
  .text {
    font-size: 12px;
  }
  h1 {
    font-size: 16px;
  }
  .shapka-text {
    font-size: 14px;
  }
  .header svg {
    margin-left: 20px;
    size: 10px;
  }
  .preim {
    width: 80px;
    height: 800px;
    margin-right: 20px;
  }
}
